/* Your code here */
.wgs{
  height: 241px;
  width: 320px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.wgs__mole-head{
  height: 178px;
  width: 188px;
  position: absolute;
  left: 54.5px;
  transition: margin-top 0.25s;
}
.wgs__dirt-pile{
  height: 110px;
  width: 320px;
  position: absolute;
  bottom: 0;
}
.wgs__mole-head--hidden{
  margin-top: 241px
}
.pf{
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 400px 400px 400px 400px;
}
.wgs__mole-head--whacked{
  opacity: 0;
  transition: all 1s;
}


/* UNCOMMENT THE CODE BELOW WHEN DIRECTED */
.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

.sb__score-holder {
  flex: 1 0 0;
}

.sb__game-over--hidden {
  display: none;
}

body {
  zoom: 0.75;
}
